/*
	Kickstart files for html/css project. Based on Kaelig documentation (blog.kaelig.fr) and on sass
*/

:selection {
	color: #fff;
	background-color: #dd5b6a;
}

::-moz-selection {
	color: #fff;
	background-color: #1d1e1f;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

p {
	-webkit-transition: all 200ms ease;
	        transition: all 200ms ease;
}

/*  RESET
    =====  */

/*Based on Eric Meyer's reste.css. 
  Originally @import compass/reset but copied to change it (ex line height on html)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	line-height: 1.5;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,
th,
td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q,
blockquote {
	quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
	display: block;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

a {
	text-decoration: none;
}

/*
	COMMONS
	=======
*/

.btn,
.btn--black,
.btn--big {
	font-weight: 700;
	font-family: "Source Sans Pro", sans-serif;
	text-transform: uppercase;
	background-color: #1d1e1f;
	color: #fff;
	font-size: 1.07143em;
}

.btn--black {
	background-color: #fff;
	color: #1d1e1f;
}

.btn--big {
	display: block;
	font-size: 2.14286em;
	text-align: center;
}

/* Sprite */

.sprite {
	background: url(../img/sprite.svg); /* IE 9+ & Android 3+ */
}

.no-svg .sprite {
	background: url(../img/sprite.png);
}

/* Grid */

.row {
	margin: 0 -15px;
}

.row > .col-1 {
	width: 8.33333%;
}

.row > .col-2 {
	width: 16.66667%;
}

.row > .col-3 {
	width: 25%;
}

.row > .col-4 {
	width: 33.33333%;
}

.row > .col-5 {
	width: 41.66667%;
}

.row > .col-6 {
	width: 50%;
}

.row > .col-7 {
	width: 58.33333%;
}

.row > .col-8 {
	width: 66.66667%;
}

.row > .col-9 {
	width: 75%;
}

.row > .col-10 {
	width: 83.33333%;
}

.row > .col-11 {
	width: 91.66667%;
}

.row > .col-12 {
	width: 100%;
}

.row > .col {
	padding: 0 15px;
	float: left;
}

@font-face {
	font-family: "fonticon";
	src: url("fonts/fonticon.eot");
	src: url("fonts/fonticon.eot?#iefix") format("eot"), url("fonts/fonticon.woff") format("woff"), url("fonts/fonticon.ttf") format("truetype"), url("fonts/fonticon.svg#fonticon") format("svg");
}

.icon:before {
	font-family: "fonticon";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal; /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}

/*  TYPOGRAPHY
	==========  */

html {
	font-size: 62.5%;
}

body {
	font-size: 1.4em; /* equiv 14px */
}

/*  FORMS
	=====  */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

input[type="text"],
input[type="email"],
input[type="submit"],
input[type="checkbox"] {
	-webkit-appearance: none;
}

/*  GLOBAL
	======  */

body {
	color: #1d1e1f;
}

p {
	color: #1d1e1f;
}

/*  HEADER
	======  */

/*  MAIN
	====  */

/*  FOOTER
	======  */

/*  PRINT
	=====  */

p {
	font-size: 13px;
}

@media (max-width: 480px) {

.row > .col {
	float: none;
	width: 100%;
}

}

