// MIXINS


// Mixin to convert px to em - Use this way font-size: em(22);
$browser-context: 14; 

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}



//Clearfix helpers
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


//Clearfix helpers - Use this way @extend %clearfix;
%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}	
}

//Clearfix helpers - Use this way @include clearfix;
@mixin clearfix() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}


