// VARIABLES

// Colors
$primary: #1d1e1f; // Gris mega foncé
$secondary: #f7f7f7; // Blanc un peu cassé


// Fonts
$source: 'Source Sans Pro', sans-serif;

:selection {
  color: #fff;
  background-color: #dd5b6a;
}

::-moz-selection {
	color:#fff;
	background-color: $primary;
}
