/*
	Kickstart files for html/css project. Based on Kaelig documentation (blog.kaelig.fr) and on sass
*/

@import "variables";
@import "mixins";
@import "reset";
@import "grid";
@import "commons";
@import "fonts";
@import "typo";
@import "forms";

/*  GLOBAL
	======  */

body {
	color: $primary;
}

p {color: $primary;}
.col>img {width: 100%;}

/*  HEADER
	======  */


/*  MAIN
	====  */


/*  FOOTER
	======  */



@import "print";



