/**
*	Kickstart files for html/css project. Based on Kaelig documentation (blog.kaelig.fr) and on compass (http://compass-style.org/)
*/

@import "reset";


/*
	VARIABLES & MIXINS
	==================
*/

/*Colors*/
$primary: #4296af;/*bleu*/
$secondary: #fde3c9; /*blanc rougi*/
$bodycolor: #63636d;

/*Mixin to convert px to em*/
$browser-context: 14; 

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

/*Helpers*/
%clearfix {
  *zoom: 1;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

@import "typo";
@import "forms";
@import "layout";
@import "global";


/*
	MAIN
	====
*/
body {
	color: $bodycolor;
}



@import "mediaqueries";
@import "print";



