/****************

	MAIN

****************/
body {
	&.fp-viewing-home {background-color: $blue;}
	&.fp-viewing-january {background-color: $january;}
	&.fp-viewing-february {background-color: $february;}
	&.fp-viewing-march {background-color: $march;}
	&.fp-viewing-april {background-color: $april;}
	&.fp-viewing-may {background-color: $may;}
	&.fp-viewing-june {background-color: $june;}
	&.fp-viewing-july {background-color: $july;}
	&.fp-viewing-august {background-color: $august;}
	&.fp-viewing-september {background-color: $september;}
	&.fp-viewing-october {background-color: $october;}
	&.fp-viewing-november {background-color: $november;}
	&.fp-viewing-december {background-color: $december;}
	&.fp-viewing-wishes {background-color: $blue;}
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
	&--mini {
		max-width: 320px;
	}
}



/* LAYOUT */
#loader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: $blue;
	z-index: 10;
}

#fullpage {
	display: none;
	counter-reset: month;
}
	.section {
		background: $blue;
	}

.text-container {
	overflow: hidden;
	display: block;

	span {
		display: block;
	}
}

// .up .text-container span {
// 	transform: translate3d(0,100%,0);
// 	opacity: 1;
// 	visibility: visible;
// }

// .down .text-container span {
// 	transform: translate3d(0,-100%,0);
// 	opacity: 1;
// 	visibility: visible;
// }


// .active .text-container span {
// 	transform: translate3d(0,0,0);
// 	opacity: 1;
// 	visibility: visible;
// }



