/**********************

	WHISH

**********************/
.wishes {
	text-align: center;

	&__inner {
		max-width: 800px;
		margin: 0 auto;
		@include clearfix;
	}

	&__logo,
	&__infos {
		float: left;
		width: 50%;
	}

	&__logo {
		padding-right: 30px;
	}

	&__infos {
		padding-left: 30px;
		text-align: left;
	}
		
		.logo {
			display: block;

			svg {
				width: 100%;
				height: auto;
			}
		}

		&__title {
			font-size: 60px;
			font-family: $main;
			line-height: 1;
		}

		&__content {
			border-top: 1px solid $beige;
			border-bottom: 1px solid $beige;
			max-width: 400px;
			margin: 50px auto 100px;
			padding: 22px 0;
			display: block;
		}

	.share__title {
		font-family: $main;
		font-size: 30px;
	}

	.share__icons {
		li {
			display: inline-block;
		}

			.share__icon {
				display: block;
				width: 60px;
				height: 60px;
				border: 1px solid $beige;
				margin: 30px;
				transition: background .3s $easin;

				svg path {
					transition: fill .3s $easin;
				}
				
				&:hover,
				&:focus {
					background: $beige;
					svg path {
						fill: $blue;
					}
				}
			}
	}
}


/**********************

	MEDIA QUERIES

**********************/
@media screen and (max-width: 720px) {

	.wishes {
		&__logo,
		&__infos {
			float: none;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
		&__content {
			border-top: 1px solid $beige;
			border-bottom: 1px solid $beige;
			max-width: 400px;
			margin: 0 auto 15px;;
			padding: 58px 15px;
			display: block;
		}

		&__logo {
			width: 100px;
			margin: 0 auto;
		}
		&__infos {
			text-align: center;
		}
	}
}

@media screen and (max-width: 420px) {

	.wishes {
		&__content {
			padding: 25px 15px;
			display: block;
		}
	}
}