/****************
	VARIABLES  
****************/

// Fonts
$main: 'ALK Tommaso', serif;
$sec: "proxima-nova", sans-serif;



// Colors
$blue: #19385a;
$beige: #f0c69d;
$white: #fefcf7;

$january: $blue;
$february: #978b60;
$march: #526770;
$april: #127158;
$may: #938c7d;
$june: #6d6a73;
$july: #91191c;
$august: #635c6b;
$september: #653b59;
$october: #6b7c7d;
$november: #645b57;
$december: #ac6c29;



:selection {
  color: #fff;
  background-color: $main;
}

::-moz-selection {
	color:#fff;
	background-color: $main;
}


$easin: cubic-bezier(0, 0, 0.2, 1);